<head></head>
<body>
    <div class="container-fluid thecontainer no-padding">
        <div class="row theheader">
            <div class="col-md-12 nopadding">
                <app-navbar></app-navbar>
            </div>
        </div>
        <div class="row h100">
            <div class="col-md-2 col-sm-3 leftbar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-10 col-sm-9 rightbar">
                <app-workspace></app-workspace>
            </div>
        </div>
    </div>
</body>
