.sidebar {
    background: mediumslateblue;
}

.btn-group a {
    background-color: palegreen;
    border: 1px solid green;
    color: brown;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    display: block;
}

.btn-group a:not(:last-child) {
    border-bottom: none;
}

.btn-group a:hover {
    background-color: #3e8e41;
    color: white;
}

.title {
    padding: 10px;
}
